@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 10;
  color: #646cff;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #242424;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1);
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns, adjust as needed */
  gap: 1rem; /* Adjust the gap as needed */
}

li {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin-bottom: 1rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  
}

li button span {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Style for completed items */
li.completed button {
  background-color: #3f3f3f;
  color: #7c7c7c;
  text-decoration: line-through;
}

/* Style for open items */
li.open button {
  background-color: #1a1a1a;
  color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.card {
  font-size: 2rem;
}
